{% extends 'AppBundle::base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h1 class="text-center">Une erreur est survenue.</h1>
                    <h2 class="text-center">Veuillez nous en excuser.</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}