{% extends 'AppBundle::base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h1 class="text-center">Vous n'avez pas accès à cette page.</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}