{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1 class="page-header">Ajout d'utilisateur</h1>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="btn btn-primary btn-block" value="Valider" />
                        {{ form_end(form) }}
                    </div>
                </div>
            <h2 class="sub-header"><a href="{{ path('users_index') }}">Retour à la liste</a></h2>
        </div>
    </div>
{% endblock %}
