{% extends 'AppBundle::base.html.twig' %}

{% block title %}Creation administrateur{% endblock %}

{% block body %}
    <div class="col-sm-4 col-sm-offset-4">
        <h1 class="page-header">Creation administrateur</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn-block" value="Valider" />
        {{ form_end(form) }}
    </div>

{% endblock %}
