{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Security:login{% endblock %}

{% block body %}
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form-signin" action="{{ path('app_login_check') }}" method="post">
            <h2 class="form-signin-heading">Connexion</h2>
            {% if error %}
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <label for="inputEmail" class="sr-only">Identifiant</label>
            <input type="text" id="username" name="_username" class="form-control" placeholder="Identifiant" value="{{ last_username }}" required="required">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required="required">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
    </div>
{% endblock %}
